body {
    background-image: url("bg.jpg");
}

.dugme {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 5px #444;
}

#a {
    background-color: red;
}

#b {
    background-color: green;
}

#c {
    background-color: blue;
}

#d {
    background-color: yellow;
}

#e {
    background-color: orange;
}

#f {
    background-color: purple;
}



.tabla {
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: rgba(78, 78, 214, 0.274);
    width: 550px;
    border-radius: 20px;
    border: 2px white solid;
    box-shadow: 0px 0px 5px 5px #444;
}


.empty {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: gainsboro;
}

#a1 {
    margin-top: 20px;
}

#a11, #a1, #b1, #b11, #c11, #c1, #c1, #c11,
#d1, #d11, #e1, #e11, #f1, #f11 {
    margin-left: 50px;
}

.center {
    display: flex;
    justify-content: center;
    
}


button {
    text-align: center;
    margin: 20px;
    padding: 10px;
    float: right;
    font-size: 15px;
    color: white;
    background-color: green;
    border-radius: 12px;
    border: 2px white solid;
    box-shadow: 0px 0px 5px 5px #444;
}

#an1, #an2, #an3, #an4 {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.dugmici {
    background-color: rgba(0, 0, 255, 0.226);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 5px #444;
}

@media only screen and (max-width: 800px) {
    .empty {
        width: 10px;
        height: 10px;
        padding: 10px;
    }

    .tabla {
        padding: 5px;
        width: 95%;
    }

    #a11, #a1, #b1, #b11, #c11, #c1, #c1, #c11,
    #d1, #d11, #e1, #e11, #f1, #f11 {
    margin-left: 10px;
}

    .dugme {
        margin: 2px;
        padding: 10px;
    }
  }